language: node_js
node_js:
  - "node" # Latest
  - "6"
  - "4"

before_script:
  - 'if [ "$P5_VERSION" ]; then npm install p5@$P5_VERSION && npm run link:p5; fi'

env:
  - P5_VERSION=0.5.0
  - P5_VERSION=0.5.1
  - P5_VERSION=0.5.2
  #- P5_VERSION=0.5.3 Known issue
  - P5_VERSION=0.5.4
