body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  color: #444;
}

strong {
  font-weight:600;
  
}

#bgCanvas {
  position: absolute;
  top:0px;
  left:0px;
  z-index: -2;
}

#container {
  width: 800px;
  margin: auto;
}

#logo {
  width: 200px;
  height: 60px;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: -70px;
  
  
}

/* body links  */

a:link, a:visited {
    color: #2D7BB6;
    text-decoration: none;
}

a:active, a:hover, #reference a:hover {
    color:#ED225D;
    text-decoration: none;
    padding-bottom: 0.11em;
    border-bottom: 0.11em dashed;
    border-bottom-color: #ED225D;
    transition: border-bottom 30ms linear;
}

#navMenu, #navMenu a {
font-size:23px; 
color: #ED225D;
}

a.anchor {
    color: #222 !important;
    outline: none;
}

a.anchor:hover {
    color:#ED225D !important;
}

a.nounderline:hover {
    border: none;
}
/*
a {
  text-decoration: none;
  color: #ED225D;
}

a:hover {
  color: #f08baa;
}*/
